#!/bin/bash

# Sample script for launching the apache2 container

docker kill apache
docker rm apache

docker run -d -t -p 0.0.0.0:80:80 \
    -e apache_http="80" \
    -e apache_https="443" \
    -e apache_ipaddress="0.0.0.0" \
    -v /usr/local/var/www:/var/www \
    --name apache tragus/apache
